.animated{
    position: absolute;
    padding-top: 200px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.animated *{
    position: relative;
}

.animated .imgContainer img{
    filter: blur(0.5px);
    animation: swim 28s infinite;
    transform: translateX(-200vw);
}

.imgContainer{
    animation: wobble 6s infinite;
}

.imgContainer:nth-child(2), .imgContainer:nth-child(2) img{
    animation-delay: 7s;
}

.imgContainer:nth-child(3), .imgContainer:nth-child(3) img{
    animation-delay: 13s;
}

.imgContainer:nth-child(3){
    animation: wobbleHard 6s infinite;
}

.turtle{
    animation: wobble 6s infinite;
}

.turtle img{
    animation-delay: 6s;
}

.turtle:nth-child(2), .turtle:nth-child(2) img{
    animation-delay: 2s;
}

.turtle:nth-child(3), .turtle:nth-child(3) img{
    animation-delay: .5s;
}

.turtle:nth-child(3){
    animation: wobbleHard 6s infinite;
}

@keyframes swim{
    0%{
        transform: translateX(-200vw);
    }
    100%{
        transform: translateX(200vw);
    }
}

@keyframes wobble{
    0%, 100%{
        transform: translateY(-15%);
    }
    50%{
        transform: translateY(15%);
    }
}

@keyframes wobbleHard{
    0%, 100%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(-50%);
    }
}

.shoal{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shoalContainer{
    animation: shoalSwim 2s infinite;    
}

.shoalContainer:nth-child(2), .shoal:nth-child(2) img{
    animation-delay: 1.5s;
}

.shoalContainer:nth-child(3){
    animation-duration: 4s;
    animation-delay: 1.3s;
}

.shoalContainer:nth-child(5), .shoal img{
    animation-delay: 7s;
}

.shoalContainer:nth-child(4){
    animation-duration: 6s;
    animation-delay: .6s;
}

.shoalContainer{
    min-height: 10vh;
}

.shoal:nth-child(3) img{
    animation-delay: 14s;
}

@keyframes shoalSwim{
    0%, 100%{
        transform: translateY(-60%);
    }
    50%{
        transform: translateY(60%);
    }
}