.navbar {
    align-items: center;
    background-color: #C84146;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    margin-top: 30vh;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    position: fixed;
    width: 3.8vw;
    z-index: 20;
    box-shadow: 0px 0px 8px 6px #FF5050;
    transition: .6s;
}

.navbar:hover{
    width: 5.6vw;
}

.social-icon {
    border-radius: 50%;
    width: 2.8vw;
    aspect-ratio: 1;
}

.social-icon:hover{
    box-shadow: 0px 0px 4px 3px skyblue;
}

.hide{
    display: none;
}

@media (max-width : 768px) {
    .navbar {
        display: none;
    }
    
    .hide{
        display: block;
    }

    .social-icon {
        width: 9vw;
        margin: 8px 10px 4px;
    }

    .social-icon:hover{
        box-shadow: 0px 0px 4px 3px #015781;
    }

    header{
        position: fixed;
        z-index: 20;
        width: 100%;
    }
}