.sea{
    background: linear-gradient(0deg, rgb(25, 33, 38) 5%, rgba(1,88,113,1) 60%, rgba(0,172,222,1) 100%);
    position: relative;
    text-align: center;
    color: #fcfcfc;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 250px;
    margin-top: -2%;
}

.sea > *{
    padding-top: 1%;
    padding-bottom: 1%;
}

main{
    border: 2px solid #ded9ce;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset 0px 0px 5px 1px #ded9ce,
                0px 0px 5px 1px #ded9ce;
    filter: drop-shadow(20px 15px 5px rgba(0, 0, 0, 0.2));
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
    z-index:5;
}

main > *{
    padding: 1%;
}

.mainSkills{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    padding: 2%;
}

.mainSkill{
    padding: 2%;
}

.mainSkill:hover{
    cursor: pointer;
    filter: drop-shadow(0px 4px 8px white);
}

.animals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
}

.mainSkillImg{
    width: 6vw;
}

@media screen and (max-width: 750px) {
    .sea{
        padding-bottom: 100px;
    }
    .mainSkillImg{
        width: 20vw;
    }
}