.sea{
    background: linear-gradient(0deg, rgb(25, 33, 38) 5%, rgba(1,88,113,1) 60%, rgba(0,172,222,1) 100%);
    position: relative;
    height: 500vh;
    text-align: center;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 5%;
}