* {
  padding: 0;
  margin: 0;
  line-height: 1.6rem;
  font-size: 1.3215rem;
}

h1{
  line-height: 2.8rem;
  font-size: 2rem;
}

h4{
  font-size: 1.2rem;
}

html{
  scroll-behavior: smooth;
}

header{
  display: flex;
  min-height: 5vh;
  background-color: skyblue;
  color: #152444;
  align-items: center;
  justify-content: center;
}

footer{
  padding: 15px;
  display: flex;
  min-height: 5vh;
  background-color: rgb(38, 49, 55);
  color: #fcfcfc;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Start Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  overflow: overlay;
}

/* End Scrollbar */

/* Fix Modal */
.fixModal .box,
.fixModal .navbar,
.fixModal .buoy{
  z-index: auto;
}

.fixModal .waves{
  content: "";
}