@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Inter');

* {
  padding: 0;
  margin: 0;
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-family: 'Inter', Verdana, Tahoma, sans-serif;
}

h1{
  line-height: 2.8rem;
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}

html{
  scroll-behavior: smooth;
}

header{
  display: flex;
  min-height: 5vh;
  background-color: skyblue;
  color: #152444;
  align-items: center;
  justify-content: center;
}

footer{
  padding: 15px;
  display: flex;
  min-height: 5vh;
  background-color: rgb(38, 49, 55);
  color: #fcfcfc;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Start Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  overflow: overlay;
}

/* End Scrollbar */

/* Fix Modal */
.fixModal .box,
.fixModal .navbar,
.fixModal .buoy{
  display: none;
}

.fixModal main{
  z-index: 0;
}

.fixModal .waves{
  content: "";
}

@media screen and (max-width: 750px) {
  .fixModal header{
    display: none;
  }
}